.header {
    background-color: #F51811;

    .nombre-usuario {
        margin-top: 10px;
        font-size: 100%;
        color: white;
        text-transform: capitalize;
    }
}

.boton-ico-text {
    cursor: pointer;
    color: white;
    &:hover {
        color: #E6E6E6;
    }
    .badge-notify{
        position:relative;
        top: -10px;
        left: -3px;
     }
}

$breakpoint-mobile-1: 487px;
$breakpoint-mobile-2: 387px;
$breakpoint-mobile-3: 337px;
@media (max-width: $breakpoint-mobile-1) {
    .image-responsive{
        width: 200px;
    }
}

@media (max-width: $breakpoint-mobile-2) {
    .image-responsive{
        width: 150px;
    }
}

@media (max-width: $breakpoint-mobile-3) {
    .image-responsive{
        width: 100px;
    }
}