.tarjetaPedido {
    background-color: bisque;
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 2px solid #3b3b3b;
}